@import "tailwindcss";
@plugin "daisyui" {
    /* themes: light --default, dark --prefersdark, retro, cupcake, corporate, emerald, valentine, luxury, dracula */
    themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte;
}

/*
light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset, caramellatte
*/

@plugin "daisyui/theme" {
  name: "caramellatte";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.016 73.684);
  --color-base-200: oklch(95% 0.038 75.164);
  --color-base-300: oklch(90% 0.076 70.697);
  --color-base-content: oklch(40% 0.123 38.172);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(22.45% 0.075 37.85);
  --color-secondary-content: oklch(90% 0.076 70.697);
  --color-accent: oklch(46.44% 0.111 37.85);
  --color-accent-content: oklch(90% 0.076 70.697);
  --color-neutral: oklch(55% 0.195 38.402);
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: oklch(42% 0.199 265.638);
  --color-info-content: oklch(90% 0.076 70.697);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(90% 0.076 70.697);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "emerald";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.044 156.743);
  --color-base-200: oklch(79% 0.209 151.711);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(76.662% 0.135 153.45);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@layer components {
    .select {
        /* Ensure the border is always visible against base backgrounds */
        @apply border-base-content/20 bg-base-100;
    }

    .input > input[type="file"]::file-selector-button {
        height: 1.75rem;
        margin: 0 0.5rem 0 0;
        align-self: center;
    }

    /* Improve the actual dropdown list (if using .dropdown-content) */
    .dropdown-content {
        @apply border border-base-content/90 bg-base-300 shadow-lg;
    }
}